package admin_templates

templ IndexApi() {
	@Navbar()
	<div class="container mx-auto h-screen p-8 mt-16 sample-transition">
		<div class="w-full h-full border-2 rounded-xl flex justify-center items-center">
			<h1 class="text-4xl">Admin panel</h1>
		</div>
	</div>
}

templ Index() {
	@Base() {
		@IndexApi()
	}
}
