@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

.htmx-indicator {
  display: none;
  opacity: 0;
  transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator {
  display: block;
  opacity: 1;
}
.htmx-request.htmx-indicator {
  display: block;
  opacity: 1;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: scale(0.5);
  }
}

@keyframes slide-to-left {
  to {
    transform: scale(0.5);
  }
}

::view-transition-old(slide-it) {
  animation:
    180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}
::view-transition-new(slide-it) {
  animation:
    420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

.sample-transition {
  view-transition-name: slide-it;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.admin-input {
  @apply border-2 rounded-xl py-2 px-4 focus:shadow-lg hover:shadow-md transition-shadow ease-in-out duration-300;
}

.admin-submit {
  @apply bg-blue-500 text-white py-2 px-4 hover:bg-white border-2 border-blue-500 hover:text-blue-500 rounded-lg
transition-colors ease-in-out duration-300;
}

.input {
  @apply admin-input;
}

.submit {
  @apply admin-submit;
}

.admin-delete {
  @apply bg-red-500 text-white py-2 px-4 hover:bg-white border-2 border-red-500 hover:text-red-500 rounded-lg
transition-colors ease-in-out duration-300;
}

.admin-checkbox:before {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  @apply bg-white border-[2px] transition-colors ease-in-out duration-300;
}

.admin-checkbox {
  @apply flex flex-row gap-2 items-center cursor-pointer select-none;
}

input[type="checkbox"]:checked + .admin-checkbox:before {
  @apply bg-blue-500 border-blue-500;
}

.search-input {
  @apply admin-input;
}

.modal-overlay {
  @apply fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 opacity-0 invisible;
  z-index: 9000;
}

.modal-overlay[data-open="true"] {
  @apply opacity-100 visible;
}

.modal-overlay[data-open="false"] {
  @apply opacity-0 invisible;
}

.modal {
  @apply fixed bg-white rounded-xl min-w-[20rem] max-w-[95vw] max-h-screen flex flex-col right-1/2 top-1/2
translate-x-1/2 -translate-y-1/2 opacity-0 scale-50 transition-all ease-in-out duration-300 invisible;
  z-index: 10000;
}

.modal[data-open="false"] {
  @apply opacity-0 scale-50 invisible;
}

.modal[data-open="true"] {
  @apply visible scale-100 opacity-100;
}

[data-tooltip] {
  @apply cursor-pointer relative;
}

[data-tooltip]:after {
  content: attr(data-tooltip);
  @apply absolute left-1/2 -translate-x-1/2 opacity-0 scale-50 transition-all ease-in-out duration-300 invisible
bg-black/50 px-2 py-1 whitespace-nowrap text-white text-sm rounded-full bottom-[calc(100%+0.5rem)];
}

[data-tooltip]:hover:after {
  @apply scale-100 opacity-100 transition-all ease-in-out duration-300 visible;
}

.admin-image-preview-list-item {
  @apply w-full h-full object-cover snap-center;
}

@keyframes card-load {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(0.9);
  }
}

.card-load {
  opacity: 0;
  transform: scale(0.5);
  animation-duration: 300ms;
  animation-delay: 600ms;
  animation-name: card-load;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.card-load:nth-child(1) {
  animation-delay: 200ms;
}
.card-load:nth-child(2) {
  animation-delay: 300ms;
}
.card-load:nth-child(3) {
  animation-delay: 400ms;
}
.card-load:nth-child(4) {
  animation-delay: 500ms;
}

.product-description h1 {
  @apply text-3xl font-bold;
}

.product-description h2 {
  @apply text-2xl font-bold;
}

.product-description h3 {
  @apply text-xl font-bold;
}

.product-description h4 {
  @apply text-lg font-bold;
}

.product-description ul {
  @apply list-disc px-4;
}

.product-description ol {
  @apply list-decimal px-6;
}
