package user_templates 

import "github.com/w1png/htmx-template/templates"
import "github.com/w1png/htmx-template/utils"

templ Base() {
	@templates.Base() {
		@Navbar(utils.GetUserFromContext(ctx))
		{ children... }
	}
}
